<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=track.title%></title>
</head>
<body>
    <h1><%= track.title %></h1>

   <p>Criado em: <%= format(track.createdAt, "dd 'de' MMMM 'de' yyyy", { locale: ptBR }) %></p>

    <p><%= track.description %></p>
    <p>Categoria: <%= track.category %></p>
    <a href="/tracks/<%= track.id %>/edit">Editar</a>
    <form action="/tracks/:<%= track.id%>/delete" method="POST">
        <button type="submit" onclick="return confirm('Tem certeza que deseja deletar esta trilha?')">Deletar</button>
    </form>
    <a href="/tracks">Voltar para a lista</a>

    <% if (tasks && tasks.length > 0) { %> 
        <ul> <% tracks.forEach(tasks => { %>
                <li>
                    <strong><%= track.title %></strong>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Nenhuma task encontrada</p>
    <% } %>


    <form action="/tracks/<%=track.id%>/tasks" method="POST">
        <input type="text" name="title" placeholder="Nova tarefa" required>
        <button type="submit">Adicionar</button>
    </form>
</body>
</html>